{% extends "main.html" %}
<!---->
{% block a %}<a href='/adminka'>Админка > </a><a href='/adminka/add_post' class='active'>Добавить пост</a>{% end %}
<!---->
{% block content %}
<!---->{% if current_user %}
<!------>{% if [(1,)] == SQLiter().check_user_only_name(escape(current_user)) %}
<div class="add_post">
    <form method="post" action="/adminka/add_post/post">
        <strong class='col-3 title-statia'><span>Название:   </span></strong><input type="text" name='title_post' id='title_post' class='col-sm-10 col-12'><br><br>
        <strong class='col-3 text-stati'>Текст поста: </strong><textarea name="text_post" id="text_post" rows='7' cols='' class='col-sm-10 col-12'></textarea>
        <button type="submit" class='col-6 button_add'>Сохранить</button> {% module xsrf_form_html() %}
    </form>
</div>
<!------>{% end %}
<!---->{% end %}
<style>
    .add_post {
        margin-left: 5%;
        margin-right: 5%;
        background: rgb(221, 221, 221);
        padding: 10px;
        border: 1px solid #aaa;
        border-radius: 5px;
    }
    
    .title-statia {
        margin-right: 20px;
    }
    
    .text-stati {
        margin-right: 4px;
    }
    
    .button_add {
        background: linear-gradient(to bottom, rgb(153, 255, 163), rgb(56, 255, 106), rgb(23, 236, 76));
        border: 1px solid rgb(211, 211, 211);
        border-radius: 4px;
    }
    
    .button_delete {
        background: linear-gradient(to bottom, rgb(255, 48, 48), rgb(255, 197, 197));
        border: 1px solid rgb(211, 211, 211);
        border-radius: 4px;
        position: absolute;
        right: 6%;
    }
    
    form input {
        border-radius: 4px;
        border: 1px solid #999;
        outline: none;
        background: rgb(241, 241, 241);
        box-shadow: inset 0 0 1px 1px #ccc;
    }
    
    form textarea {
        border-radius: 4px;
        border: 1px solid #999;
        outline: none;
        background: rgb(241, 241, 241);
        box-shadow: inset 0 0 1px 1px #ccc;
    }
    
    form input:focus {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 2px 1px #777;
    }
    
    form textarea:focus {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 2px 1px #777;
    }
    
    form button {
        transition: .5s;
        font-weight: 500;
        margin-top: 10px;
    }
    
    form button:hover {
        border: 1px solid #666;
        background: #fff;
        box-shadow: inset 0 0 2px 1px #444;
    }
    
    @media (min-width: 742px) {
        .text-stati {
            position: relative;
            bottom: 155px;
        }
    }
</style>{% end %}