{% extends "main.html" %}
<!---->
{% block a %}<a href='/adminka' class='active'>Админка</a>{% end %}
<!---->
{% block content %}
<!---->{% if current_user %}
<!------>{% if [(1,)] == SQLiter().check_user_only_name(escape(current_user)) %}
<!---->
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <strong class='Name_table'>Пост</strong>
                <a href='/adminka/add_post' class='a_admin'>
                    <svg width="1.9em" height="1.9em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="yellowgreen" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
                <a href='/adminka/regpostlist' class='a_admin'>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="orange" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!------>{% end %}
<!---->{% else %}
<div class="login">
    <strong class='display-3'>Авторизация</strong>
    <form method="post" action="/login">
        <input type="text" name='username' id='username' class='col-mg-12 col-6'>
        <input type="text" name='password' id='password' class='col-mg-12 col-6'>
        <button type="submit">Отправить</button> {% module xsrf_form_html() %}
    </form>
</div>
<!---->{% end %}
<style>
    .Ashcki {
        position: relative !important;
        bottom: 100px;
    }
    
    .Name_table {
        color: #000;
        font-size: 1.5em;
        margin-right: 10px;
    }
    
    .a_admin {
        position: relative;
        bottom: 3px;
    }
</style>
<!---->
{% end %}